
 <!-- <div class="card" *ngFor="let post of postArr">
    <div class="card-header">
       {{post.title}}
    </div>
 </div> -->
<div *ngFor="let post of postArr">
    <mat-card class="mb-4" appearance="outlined">
    <mat-card-header>
       <h1>{{post.title}}</h1> 
    </mat-card-header>
    <mat-card-content>
       <p>{{post.body}}</p> 
    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex justify-content-between">
        <button mat-raised-button color="primary">Edit</button>
        <button mat-raised-button color="warn" (click)="onRemove(post.id)">Remove</button>
        </div>
    </mat-card-actions>
 </mat-card>
</div>


 