

<app-passenger-dashbord></app-passenger-dashbord>

 <div class="container mt-5">
   <!-- <div class="row">
    <div class="col-md-6">
      <app-movieform></app-movieform>
    </div>

    <div class="col-md-6">
      <app-moviecard></app-moviecard>

    </div>
    
   </div> -->

    <div class="row mb-4">
      <div class="col-md-4">
       <app-tableform></app-tableform>
      </div>
      <div class="col-md-8">
       <app-table></app-table>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <app-todoform></app-todoform>
      </div>
      <div class="col-md-6">
        <app-todo></app-todo>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
       <app-postform></app-postform>
      </div>
      <div class="col-md-6">
        <app-postcard></app-postcard>
      </div>
    </div>
</div>

